*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}


main{
    margin: 30px 0;
}


.logo{
    height: 80px;
}

.menu-principale li{
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-principale a{
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: grey;
  font-size: 1.3em;
}

.banner1{
    position: relative;
    background-image: url("../img/banner.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom:30px
}

.text-img{
    position: absolute;
    top: 70%;
    left: 20px;
    width: 50%;
}

.pippo{
    background-color: white;
    width: 100%;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.row{
    
    width: 100%;
    margin: 30px 0;
}

.column{
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.c-20{
    width: 20%;
}

.c-60{
    width: calc( 60% - 60px);
    margin: 0 30px;
}