*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}


main{
    margin: 30px 0;
}

footer{
    background-color: violet;
    height: 60px;
}

.logo{
    height: 80px;
}

.menu-principale li{
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-principale a{
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: grey;
  font-size: 1.3em;
}

.banner1{
    background-image: url("../img/banner.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    margin-bottom:30px
}


.bottom-blu{
    background-color: blue;
    height: 600px;
}

.pippo{
    background-color: rgb(71, 212, 255);
    height: 20%;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.row{
    width: 100%;
    height: calc( 80% - 60px);
    margin: 30px 0;
}

.column{
    float: left;
    background-color: rgb(71, 212, 255);
    height: 100%;
}

.c-20{
    width: 20%;
}

.c-60{
    width: calc( 60% - 60px);
    margin: 0 30px;
}
